.client-logo-wrapper {
  padding: 10px 0;

  .client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 120px;
    @include transition;
    img {
      width: 100%;
      max-width: 150px;
      height: auto;
      max-height: 80px;
      object-fit: contain;
      filter: grayscale(100%);
      @include transition;
    }
    &:hover {
      transform: scale(1.03);
      img {
        filter: none;
        opacity: 1;
      }
    }
  }
}
